<div class="card">
  <div class="card-body">
    <h3 class="card-title">Istasyon {{ istasyon.isim }}</h3>
    <ul class="list-group mt-3">
      <li *ngFor="let altParca of altParcasAndStokAlani" class="list-group-item">
        {{ altParca.stokAlanis[0].stokAdeti }} {{ altParca.name }} sub part
      </li>
    </ul>
    <div class="d-flex justify-content-center mt-3">
      <button *ngIf="isProduced" class="btn btn-outline-warning btn-block" style="width: 70%;" placement="top" ngbTooltip="This altParca is already produced">
        <fa-icon [icon]="faClipboardCheck"></fa-icon>
      </button>

      <button *ngIf="!isProduced" (click)="onClick()" class="btn btn-outline-primary btn-block" style="width: 70%;" placement="top" ngbTooltip="Produce">
        <fa-icon [icon]="faIndustry"></fa-icon>
      </button>
    </div>
  </div>
</div>